@font-face {
    font-display: swap;
    font-family: Mulish;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Mulish-Medium.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Mulish;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Mulish-Regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: NotoSansGeorgian;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/NotoSansGeorgian-Bold.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: NotoSansGeorgian;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/NotoSansGeorgian-Medium.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: NotoSansGeorgian;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NotoSansGeorgian-Regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Play;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Play-Bold.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Play;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Play-Regular.woff2") format("woff2");
}
