.about-block {
  height: 450px;
  display: flex;
  gap: clamp(15px,0.9375vw + 12px, 30px);
  padding-bottom: clamp(30px,1.875vw + 24px, 60px);
}
@media (max-width: 1024px) {
  .about-block {
    height: auto;
    flex-direction: column-reverse;
  }
}
.about__text {
  width: 50%;
  padding-right: clamp(10px,0.625vw + 8px, 20px);
  color: var(--color-black);
  font-size: clamp(20px,0.25vw + 19.2px, 24px);
  overflow: auto;
}
@media (max-width: 1024px) {
  .about__text {
    width: 100%;
    height: 250px;
  }
}
.about__text::-webkit-scrollbar {
  width: 3px;
}
.about__text::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-secondary);
}
.about__text::-webkit-scrollbar-track {
  border: 1px solid #f4ebe0;
  background-color: var(--color-secondary);
}
.about__text p:first-child {
  margin-top: 0;
}
.about__text p:last-child {
  margin-bottom: 0;
}
.about__image {
  width: 50%;
}
@media (max-width: 1024px) {
  .about__image {
    width: 100%;
    height: clamp(200px,6.25vw + 180px, 300px);
  }
}
.about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}